body {
    background: #9BFBDD;
    font-family: "Courier","Arial";
    
}

h3{
    text-align: center;
    text-decoration: underline, bold;
}
h2{
    text-align: right;
    text-decoration: italic, bold;
}
p{
    padding: 20px;
}

#wrapper{
    margin: 0 auto;
    max-width: 980px;
    width: 96%;
    background: #fff29c;
    padding: 2%;
    border-radius: 10px;
}
header {
    text-align: center;
    max-height:50px;
    margin: 10px auto;
    
    width: 96%;
    background: #FFFDEB;
    padding: 2%;
    border-radius: 10px;
}
#header img {
    margin: 0;
    text-align: center;
    height: 50px;
    width: auto;
}

img{
    text-align : center;
    max-width: 100%;
    height: auto;
    width: auto;
}
footer{
    margin: 10px auto;
    max-width: 980px;
    width: 96%;
    background: #FFFDEB;
    padding: 2%;
    border-radius: 10px;
}
nav{
    background: #FFFDEB;
    padding: 0;
    margin: 0;
    border-radius:10px;
}

nav ul{
    list-style :none;
    margin-left:7%;
    padding : 0;
    
}
nav li a {
    color : #000000;
    display: block;
    float: left;
    padding: 20px;
    text-decoration : none;
}

nav a:hover, nav li.active a{
   background: #9BFBDD;
   color: #FFFFFF;
    
}

#social{
    text-align: center;
    max-height:50px;
    margin: 10px auto;
    max-width: 980px;
    width: 96%;
    background: #FFFDEB;
    padding: 2%;
    border-radius: 10px;
}

#social img{
padding-top: 5px;
height: 50px;
width :auto;
}

vid{
    text-align:center;
    padding: 0;
    height: auto;
    width: auto;
}

.clear{
    clear : both;
}